*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'MyCustomFont', sans-serif;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('hey_comic/Hey\ Comic.otf') format('opentype');
    /* src: url('hunters/Hunters.otf') format('opentype'); */
}
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.item img {
    width: 80px;
    border-radius: 5px;
}

.item .details {
    flex: 2;
    margin-left: 20px;
}

.item .price, .item .actions {
    flex: 1;
    text-align: center;
}

.actions button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.actions button:hover {
    background-color: #555;
}

.footer {
    text-align: right;
    margin-top: 20px;
}

.footer .total {
    font-size: 18px;
    font-weight: bold;
}

.footer button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .item {
        flex-direction: column;
        align-items: flex-start;
    }

    .item img {
        margin-bottom: 10px;
    }

    .item .price, .item .actions {
        text-align: left;
    }
}